In [18]:
#union using method
set1={11,12,13,14,15}
set2=6,7,8,9,10
set3=[1,2,3,4,5]
print(set1.union(set2).union(set3))
#union using | operator
set1={11,12,13,14,15}
set2={6,7,8,9,10}
set3={1,2,3,4,5}
print(set1|set2|set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [24]:
#intersection using method
set1={0,3,4,2,5}
set2={5,8,3,12,0}
set3={9,10,0,6,3}
print(set1.intersection(set2).intersection(set3))
#intersection using & operator
set1={0,3,4,2,5}
set2={5,8,3,12,0}
set3={9,10,0,6,3}
print(set1&set2&set3)

{0, 3}
{0, 3}

In [21]:
#difference using method
set1={10,11,12,13,14}
set2=[22,23,13,12,32]
set3=13,16,22,14,16
print(set1.difference(set2).difference(set3))
#difference using - operator
set1={10,11,12,13,14}
set2={22,23,13,12,32}
set3={13,16,22,14,16}
print(set1-set2-set3)

{10, 11}
{10, 11}